body #page {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.performance-section, .newsletter-section, .features-section {
    padding: 5px;
    filter: grayscale (80%);
    -webkit-filter: grayscale(80%);
}

.history-bmw-section {
    padding: 5px;
    filter: grayscale (90%);
    -webkit-filter: grayscale(90%);
}

.section-title h2 {
    color: #F2F2F2;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    margin: 1%;
}

.section-title-black h2 {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    margin: 1%;
}

.btn-secondary {
    position: fixed;
    right: 30px;
    bottom: 40px;
    opacity: 0.7;
}

/*HEADER*/
.intro-section {
    background-image: url("../img/pic1.jpg");
    background-size: cover;
    height: 100vh;
    filter: grayscale (80%);
    -webkit-filter: grayscale(80%);
}

.intro-section .navbar-logo {
    width: 50%;
}

.intro-section .navbar {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    background-color: rgba(71, 71, 71, 0.7);
}
.intro-section .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #F2F2F2;
}

.intro-section h1 {
    font-size: 60px;
    font-weight: 200;
    color: #DBDBDB;
    letter-spacing: 3px;
    background-color: rgba(71, 71, 71, 0.6);
    padding:5px;
    position: absolute;
    top: 50%;
    left: 10%;
}

.intro-section h3 {
    font-size: 25px;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    color: #ffffff;
    letter-spacing: 2px;
    background-color: rgba(71, 71, 71, 0.8);
    padding:7px;
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.intro-section h1 span {
    font-weight: 400;
}

/*HISTORY-BMW*/
.history-bmw-section{
    background-image: url("../img/bmw111.jpeg");
    background-size: cover;
    margin: 1%;

}

#history-bmw .history-container {
    background-color: rgba(71, 71, 71, 0.6);
    color: #F2F2F2;
    letter-spacing: 2px;
    margin: 2%;
    padding: 30px;
}

/*PERFORMANCE*/
#performance .car-models p {
    font-weight: 500;
    border-bottom: 1px solid #000000;
}

#performance ul {
    list-style: none;
}

#performance .intro-text {
    font-size: 20px;
    font-weight: 300;
}

#performance .car-models {
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 1px;
    margin-top: 3%;
    margin-bottom: 20px;
    padding: 1%;
}

#performance .bmw-list p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 2px;
}

#performance span {
    font-weight: 600;
}

#performance .bmw-list {
    background-color: #E6E8ED;
    padding: 0.5%;
}

#performance .bmw-list p {
    text-align: center;
}

#performance img {
    opacity: 0.85;
}

/*NEWSLETTER*/
.newsletter-section {
    background-image: url("../img/pic4.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

#newsletter .performance-container {
    background-color: rgba(71, 71, 71, 0.6);
    color: #F2F2F2;
    letter-spacing: 2px;
    line-height: 200%;
    margin: 2%;
}

#newsletter p {
    font-weight: 500;
}

/*FEATURES*/
.features-section {
    background-image: url("../img/pic5.jpeg");
    background-size: cover;
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .features-section {
        height: auto;
    }
}

#features .features-container {
    margin-top: 5%;
    background-color: rgba(216, 216, 216, 0.6);
    margin-right: 0.5%;
    padding: 0.5%;
}

/*FOOTER*/
#footer-container .footer-description{
    height: 35px;
    background-color: gray;
    color: #D8D8D8;
    font-weight: 200;
    padding:6px;
    font-size: 12px;
    letter-spacing: 3px;
    margin: 0px;
}

